<!doctype html>
<html>
    <head>
        <title>3PO Games</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/about.css">
    </head>
    <body>
        <header>
            <!--Navigate to Home page-->
            <div class="header_button" id="home_button">
                <img class="icon" src="/images/profile.png">
                <div>
	                <a class="white_link" href="#"><div>Fox Games</div></a>
    	            <div class="sub_text">Where Gaming Gets Real</div></a>
    	        </div>
            </div>
            <!--The Shop-->
            <div class="header_button" id="shop_link">
                <img class="icon" src="/images/gamepad4.png">
                <a href="#"><button class="button">Shop</button></a>
            </div>
            <!--Your Account-->
            <div class="header_button" id="account_link">
                <img class="icon" src="/images/profile.png">
                <a href="#"><button class="button">My Account</button></a>
            </div>
            <!--About Page-->
            <div class="header_button" id="about_link">
                <img class="icon" src="/images/question.png">
            	<a href="#"><button class="button">About</button></a>
            </div>
            <!--Your Shopping Cart-->
            <div class="header_button" id="checkout_button">
                <img class="icon" src="/images/cart.png">
                <a href="#"><button class="button">Cart</button></a>
            </div>
        </header>
        <main>
            <div id="info">
                <h1>About Us</h1>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                <h1>Contact Us</h1>
                <div id="contact_info">
                    Phone: <p>845-555-2130</p><br />
                    Email: <p>atomicgaming@esports.edu</p><br />
                    Local Address: <p></p>><br />
                    Corporate Address: <input type="text" name="linkUrl" id="addLinkUrl" /><br />
                    <input type="submit" name="submit" id="addSubmit" />
                  </div>
            </div>
        </main>
    </body>
    <script src = '/js/global.js'></script>
    <!--<script src = '/js/index.js'></script>-->
</html>