<!doctype html>
<html>
    <head>
        <title>Atomic Gaming</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/account.css">
    </head>
    <body>
        <header>
            <!--Navigate to Home page-->
            <div class="header_button" id="home_button">
                <img class="icon" src="/images/sitelogo.png">
                <div>
	                <a class="white_link" href="/"><div>Atomic Gaming</div>
    	            <div class="sub_text">Where Gaming Gets Real</div></a>
    	        </div>
            </div>
            <!--The Shop-->
            <div class="header_button" id="shop_link">
                <img class="icon" src="/images/gamepad4.png">
                <a class="white_link" href="/shop"><button class="button">Shop</button></a>
            </div>
            <!--Your Account-->
            <div class="header_button" id="account_link">
                <img class="icon" src="/images/profile.png">
                <a class="white_link" href="/account"><button class="button">My Account</button></a>
            </div>
            <!--About Page-->
            <div class="header_button" id="about_link">
                <img class="icon" src="/images/question.png">
            	<a class="white_link" href="/about"><button class="button">About</button></a>
            </div>
            <!--Your Shopping Cart-->
            <div class="header_button" id="checkout_button">
                <img class="icon" src="/images/cart.png">
                <a class="white_link" href="/cart"><button class="button">Cart</button></a>
            </div>
        </header>
        <main>      
            <img id="profile_image" src="/images/profile.png">
            <h1>TryHard6502's Profile</h1>
            <div class="shelf">
                <div id="game1">
                    <!--<h1>User Profile</h1>-->
                    <p>Username: AtomicGamer330<br>
                       Primary Console: Xbox One<br>
                    </p>
                </div>
                <div id="game2">
                    <p>
                        Score: 35700 <br>
                        Library: 34 games
                    </p>
                </div>
            </div>
            <h3>Membership Status: Membership Active &#10004</h3>
            <h1>Game Library</h1>
            <div class="shelf">
                <div class="shelf_item">
                    <div id="game1">
                        <img class="game_image" src="/images/MHW.jpg">
                        <h3>Monster Hunter World</h3>
                        <p> 
                            Take the role of a Hunter, tasked to hunt down and either kill or trap
                            monsters that roam the world in one of several environmental spaces. If
                            successful, your reward will be loot craft from the thick hides of the
                            monsters themselves! Continue to hunt and fight across the land as you
                            and your fellow hunters fight to survive in this hostile new world.
                            Play Monster Hunter World now and get the expansion pack Iceborne free
                            with your membership.
                        </p>
                    </div>
                </div>
                <div class="shelf_item">
                    <div id="game2">
                        <img class="game_image" src="/images/ACO.png">
                        <h3>Assassin's Creed Odyssey</h3>
                        <p> 
                            Set in the years 431–422 BCE, explore a mythological history of the
                            Peloponnesian War between Athens and Sparta. Take control a mercenary who
                            fights on both sides of the conflict as they attempt to unite their family.
                            Along the way, you'll meet many influentical historical figures such as
                            Pythagoras, Sokrates, Plato, Hippokrates, and even King Leonidas. You'll
                            also do battle against the most legendary ceatures of Greek mith including
                            the Cyclops, Medusa, and the mighty Minotaur.
                        </p>
                    </div>
                </div>
                <div class="shelf_item">
                    <div id="game3">
                        <img class="game_image" src="/images/TF2.jpg">
                        <h3>Titanfall 2</h3>
                        <p> 
                            Follow the story of Jack Cooper, a rifleman from the Frontier Militia, 
                            who bonds with his mentor's Titan after he is killed in action. Embark
                            on a quest to stop the Interstellar Manufacturing Corporation (IMC) from
                            launching a superweapon that is threatening to destroy the Militia planet
                            Harmony. Take part in an epic single player campaign. Then, hop into
                            exciting online multiplayer featuring intense pilot parkour movement and
                            epic titan vs. titan action. Play free today and prepare for titanfall.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
        	<p>&copy; Atomic Gaming Inc. All rights reserved.</p>
        </footer>
    </body>
    <!--<script src = '/js/global.js'></script>
    <script src = '/js/index.js'></script>-->
</html>