<!doctype html>
<html>
    <head>
        <title>3PO Games</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <header>
            <!--Navigate to Home page-->
            <div class="header_button" id="home_button">
                <img class="icon" src="/images/profile.png">
                <div>
	                <a href="#"><div>Fox Games</div></a>
    	            <div class="sub_text">Where Gaming Gets Real</div>
    	        </div>
            </div>
            <!--The Shop-->
            <div class="header_button" id="shop_link">
                <img class="icon" src="/images/gamepad4.png">
                <a href="#"><button class="button">Shop</button></a>
            </div>
            <!--Your Account-->
            <div class="header_button" id="account_link">
                <img class="icon" src="/images/profile.png">
                <a href="#"><button class="button">My Account</button></a>
            </div>
            <!--About Page-->
            <div class="header_button" id="about_link">
                <img class="icon" src="/images/question.png">
            	<a href="#"><button class="button">About</button></a>
            </div>
            <!--Your Shopping Cart-->
            <div class="header_button" id="checkout_button">
                <img class="icon" src="/images/cart.png">
                <a href="#"><button class="button">Cart</button></a>
            </div>
        </header>
        <main>
            <P>This will be a users shopping cart.</P>
        </main>
    </body>
    <script src = '/js/global.js'></script>
    <script src = '/js/index.js'></script>
</html>