<!doctype html>
<html>
    <head>
        <title>Atomic Gaming</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <header>
            <!--Navigate to Home page-->
            <div class="header_button" id="home_button">
                <img class="icon" src="/images/sitelogo.png">
                <div>
	                <a class="white_link" href="/"><div>Atomic Gaming</div>
    	            <div class="sub_text">Where Gaming Gets Real</div></a>
    	        </div>
            </div>
            <!--The Shop-->
            <div class="header_button" id="shop_link">
                <img class="icon" src="/images/gamepad4.png">
                <a class="white_link" href="/shop"><button class="button">Shop</button></a>
            </div>
            <!--Your Account-->
            <div class="header_button" id="account_link">
                <img class="icon" src="/images/profile.png">
                <a class="white_link" href="/account"><button class="button">My Account</button></a>
            </div>
            <!--About Page-->
            <div class="header_button" id="about_link">
                <img class="icon" src="/images/question.png">
            	<a class="white_link" href="/about"><button class="button">About</button></a>
            </div>
            <!--Your Shopping Cart-->
            <div class="header_button" id="checkout_button">
                <img class="icon" src="/images/cart.png">
                <a class="white_link" href="/cart"><button class="button">Cart</button></a>
            </div>
        </header>
        <main>
            <div class="main_section" id="promos">
                <h2>PROMOTIONS</h2>
                <p> 
                    Here you'll find information on this weeks deals and specials on games
                    recommended for you! These recommendations come to you based on your
                    history of games played, so you're always sure to find something that
                    interests you! This section is updated weekly, so be sure to check
                    back often for news on all the latest big name games releasing!
                </p>

                <h2>GAMING NEWS</h2>
                <p> 
                    Here, you'll find the latest news on all the best new games releasing.
                    Everything from in-game live events currently happening in your favorite
                    games, to new DLC content available for you to play right away, to the
                    latest updates from the developers on the next big name games releasing!
                    This is your go-to section to keep you up-to-date on all the news and gaming
                    information that you need to know!
                </p>
                <ul>
                    <li>
                        Assassin's Creed Valhalla has gone Gold! Releasing 11/10/2020!
                    </li>
                    <li>
                        Call of Duty Black Ops Cold War Beta is Live now on all consoles!
                    </li>
                    <li>
                        Microsoft acquires ZeniMax Studios! Fallout and Elder Scrolls console exclusives?
                    </li>
                    <li>
                        Play Destiny 2's Season of Arrivals now and preorder Destiny 2 Beyond Light, available 11/10/2020
                    </li>
                    <li>
                        And so much more!
                    </li>
                </ul>
            </div>
            <div class="main_section" id="games">
                <h2>LATEST GAMES RELEASING</h2>
                <div class="shelf">
                    <div class="game">
                        <img class="game_image" src="/images/xbox.png">
                        <a class="black_link" href="/shop/#game1"><h3>Assassin's Creed Valhalla, Available 11/10/2020</h3></a>
                        <p> 
                            Take on the role of Eivor, a Viking raider, as they lead their fellow Vikings against
                            the Anglo-Saxon kingdoms. Set in 873 AD, partake in the mythological history of the 
                            Viking invasion of Britain. Raid villages and overthrow powerful kings and monarchs as
                            you and your Viking clan struggle to fight for a new home across the kingdoms of England.
                        </p>
                    </div>
                    <div class="game">
                        <img class="game_image" src="/images/playstation.png">
                        <a class="black_link" href="/shop/#game2"><h3>Call of Duty Black Ops: Cold War, Available 11/13/2020</h3></a>
                        <p> 
                            The best selling game on Playstation 4 returns with Call of Duty Black Ops: Cold War.
                            set during the early 1980s at the height of the Cold War. You'll follow CIA officer
                            Russell Adler as he pursues an alleged Soviet spy, Perseus, whose goal is to subvert
                            the United States and tilt the balance of power toward the Soviet Union. Play the
                            Multiplayer beta now on all platforms!
                        </p>
                    </div>
                </div>
                <div class="shelf">
                    <div class="game">
                        <img class="game_image" src="/images/xbox.png">
                        <a class="black_link" href="/shop/#game3"><h3>Destiny 2: Beyond Light, Available 11/10/2020</h3></a>
                        <p> 
                            A new power is born out of the ancient Pyramid ship, and a dark empire has risen beneath,
                            united under the banner of the Fallen Kell of Darkness, Eramis, the Shipstealer. Journey
                            to Jupiter's icy moon Europa and harness the power of the Darkness. Freeze and shatter your
                            enemies with all new Statsis abilities. Go Beyond Light and wield the Darkness. Play Destiny 2
                            now, free on all platforms.
                        </p>
                    </div>
                    <div class="game">
                        <img class="game_image" src="/images/playstation.png">
                        <a class="black_link" href="/shop/#game4"><h3>The Survivalists, Available Now!</h3></a>
                        <p> 
                            A living world full of surprises, secrets and danger awaits in The Survivalists, an adventure-filled
                            survival sandbox set in The Escapists universe. Explore, build, craft and even train monkeys with up
                            to three friends in a desperate bid to survive. Have you got what it takes to be a Survivalist?
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
        	<p>&copy; Atomic Gaming Inc. All rights reserved.</p>
        </footer>
    </body>
    <!--<script src = '/js/global.js'></script>
    <script src = '/js/index.js'></script>-->
</html>