<!doctype html>
<html>
    <head>
        <title>Atomic Gaming</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <header>
            <!--Navigate to Home page-->
            <div class="header_button" id="home_button">
                <img class="icon" src="/images/sitelogo.png">
                <div>
	                <a class="white_link" href="/"><div>Atomic Gaming</div>
    	            <div class="sub_text">Where Gaming Gets Real</div></a>
    	        </div>
            </div>
            <!--The Shop-->
            <div class="header_button" id="shop_link">
                <img class="icon" src="/images/gamepad4.png">
                <a class="white_link" href="/shop"><button class="button">Shop</button></a>
            </div>
            <!--Your Account-->
            <div class="header_button" id="account_link">
                <img class="icon" src="/images/profile.png">
                <a class="white_link" href="/account"><button class="button">My Account</button></a>
            </div>
            <!--About Page-->
            <div class="header_button" id="about_link">
                <img class="icon" src="/images/question.png">
            	<a class="white_link" href="/about"><button class="button">About</button></a>
            </div>
            <!--Your Shopping Cart-->
            <div class="header_button" id="checkout_button">
                <img class="icon" src="/images/cart.png">
                <a class="white_link" href="/cart"><button class="button">Cart</button></a>
            </div>
        </header>
        <main>
            <div class="main_section" id="promos">
                <h2>PROMOS</h2>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <h2>NEWS</h2>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. 
                    </li>
                    <li>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                        aliquip ex ea commodo consequat. 
                    </li>
                    <li>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                    </li>
                    <li>
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
                        deserunt mollit anim id est laborum.
                    </li>
                </ul>
            </div>
            <div class="main_section" id="games">
                <h2>LATEST GAMES RELEASING</h2>
                <div class="shelf">
                    <div class="game">
                        <img class="game_image" src="/images/xbox.png">
                        <a class="black_link" href="/shop/#game1"><h3>Game 1 Name</h3></a>
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                    </div>
                    <div class="game">
                        <img class="game_image" src="/images/playstation.png">
                        <a class="black_link" href="/shop/#game2"><h3>Game 2 Name</h3></a>
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                    </div>
                </div>
                <div class="shelf">
                    <div class="game">
                        <img class="game_image" src="/images/xbox.png">
                        <a class="black_link" href="/shop/#game3"><h3>Game 3 Name</h3></a>
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                    </div>
                    <div class="game">
                        <img class="game_image" src="/images/playstation.png">
                        <a class="black_link" href="/shop/#game4"><h3>Game 4 Name</h3></a>
                        <p> 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
        	<p>&copy; Atomic Gaming Inc. All rights reserved.</p>
        </footer>
    </body>
    <!--<script src = '/js/global.js'></script>
    <script src = '/js/index.js'></script>-->
</html>