<!DOCTYPE html>
<html>
    <title>3PO Games</title>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "/css/global.css">
        <link rel = "stylesheet" type = "text/css" href = "/css/index.css">

        <script src ="/js/global.js"></script>
        <script src = "/js/index.js"></script>
    </head>
    <body>
        <h1 id = "splash_title">3PO Games</h1>
        <p1 class = "sub_title">Where Gaming Gets Real</p1>
        <h2 class = "menu_button background_button" id = "fade_text">Continue to Main Website</h2>
    </body>
</html>