<!doctype html>
<html>
    <head>
        <title>3PO Games</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <header>
            <!--Navigate to Home page-->
            <div class="header_button" id="home_button">
                <img class="icon" src="/images/profile.png">
                <div>
	                <a class="white_link" href="/"><div>Fox Games</div>
    	            <div class="sub_text">Where Gaming Gets Real</div></a>
    	        </div>
            </div>
            <!--The Shop-->
            <div class="header_button" id="shop_link">
                <img class="icon" src="/images/gamepad4.png">
                <a class="white_link" href="/shop"><button class="button">Shop</button></a>
            </div>
            <!--Your Account-->
            <div class="header_button" id="account_link">
                <img class="icon" src="/images/profile.png">
                <a class="white_link" href="/account"><button class="button">My Account</button></a>
            </div>
            <!--About Page-->
            <div class="header_button" id="about_link">
                <img class="icon" src="/images/question.png">
            	<a class="white_link" href="/about"><button class="button">About</button></a>
            </div>
            <!--Your Shopping Cart-->
            <div class="header_button" id="checkout_button">
                <img class="icon" src="/images/cart.png">
                <a class="white_link" href="/cart"><button class="button">Cart</button></a>
            </div>
        </header>
        <main>
            <div id="game1">
                <img class="game_image" src="/images/xbox.png">
                <h3>Game 1 Information</h3>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
            <div id="game2">
                <img class="game_image" src="/images/playstation.png">
                <h3>Game 2 Information</h3>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
            <div id="game3">
                <img class="game_image" src="/images/xbox.png">
                <h3>Game 3 Information</h3>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
            <div id="game4">
                <img class="game_image" src="/images/playstation.png">
                <h3>Game 4 Information</h3>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
            <div id="game5">
                <img class="game_image" src="/images/xbox.png">
                <h3>Game 5 Information</h3>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
            <div id="game6">
                <img class="game_image" src="/images/playstation.png">
                <h3>Game 6 Information</h3>
                <p> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>
        </main>
    </body>
    <script src = '/js/global.js'></script>
    <!--<script src = '/js/index.js'></script>-->
</html>