<!doctype html>
<html>
    <head>
        <title>Atomic Gaming</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/shop.css">
    </head>
    <body>
        <header>
            <!--Navigate to Home page-->
            <div class="header_button" id="home_button">
                <img class="icon" src="/images/sitelogo.png">
                <div>
	                <a class="white_link" href="/"><div>Atomic Gaming</div>
    	            <div class="sub_text">Where Gaming Gets Real</div></a>
    	        </div>
            </div>
            <!--The Shop-->
            <div class="header_button" id="shop_link">
                <img class="icon" src="/images/gamepad4.png">
                <a class="white_link" href="/shop"><button class="button">Shop</button></a>
            </div>
            <!--Your Account-->
            <div class="header_button" id="account_link">
                <img class="icon" src="/images/profile.png">
                <a class="white_link" href="/account"><button class="button">My Account</button></a>
            </div>
            <!--About Page-->
            <div class="header_button" id="about_link">
                <img class="icon" src="/images/question.png">
            	<a class="white_link" href="/about"><button class="button">About</button></a>
            </div>
            <!--Your Shopping Cart-->
            <div class="header_button" id="checkout_button">
                <img class="icon" src="/images/cart.png">
                <a class="white_link" href="/cart"><button class="button">Cart</button></a>
            </div>
        </header>
        <main>
            <div id="search">
                <input type="text" name="search" placeholder="Search" id="searchBox"/><a class="white_link" href="/cart"><button id="searchButton">Search</button></a>
            </div>
        <div class="shelf">
            <div class="shelf_item">
                <div id="game1">
                    <img class="game_image" src="/images/xbox.png">
                    <h3>Assassin's Creed Valhalla</h3>
                    <p> 
                        Take on the role of Eivor, a Viking raider, as they lead their fellow Vikings against
                        the Anglo-Saxon kingdoms. Set in 873 AD, partake in the mythological history of the 
                        Viking invasion of Britain. Raid villages and overthrow powerful kings and monarchs as
                        you and your Viking clan struggle to fight for a new home across the kingdoms of England.
                    </p>
                </div>
            </div>
            <div class="shelf_item">
                <div id="game2">
                    <img class="game_image" src="/images/playstation.png">
                    <h3>Call of Duty Black Ops: Cold War</h3>
                    <p> 
                        The best selling game on Playstation 4 returns with Call of Duty Black Ops: Cold War.
                        set during the early 1980s at the height of the Cold War. You'll follow CIA officer
                        Russell Adler as he pursues an alleged Soviet spy, Perseus, whose goal is to subvert
                        the United States and tilt the balance of power toward the Soviet Union. Play the
                        Multiplayer beta now on all platforms!
                    </p>
                </div>
            </div>
            <div id="game3">
                <div class="shelf_item">
                    <img class="game_image" src="/images/xbox.png">
                    <h3>Destiny 2: Beyond Light</h3>
                    <p> 
                        A new power is born out of the ancient Pyramid ship, and a dark empire has risen beneath,
                        united under the banner of the Fallen Kell of Darkness, Eramis, the Shipstealer. Journey
                        to Jupiter's icy moon Europa and harness the power of the Darkness. Freeze and shatter your
                        enemies with all new Statsis abilities. Go Beyond Light and wield the Darkness. Play Destiny 2
                        now, free on all platforms.
                    </p>
                </div>
            </div>
        </div>
        <div class="shelf">
            <div class="shelf_item">
                <div id="game4">
                    <img class="game_image" src="/images/playstation.png">
                    <h3>The Survivalists</h3>
                    <p> 
                        A living world full of surprises, secrets and danger awaits in The Survivalists, an adventure-filled
                        survival sandbox set in The Escapists universe. Explore, build, craft and even train monkeys with up
                        to three friends in a desperate bid to survive. Have you got what it takes to be a Survivalist?
                    </p>
                </div>
            </div>
            <div class="shelf_item">
                <div id="game5">
                    <img class="game_image" src="/images/xbox.png">
                    <h3>Cyberpunk 2077</h3>
                    <p> 
                        Assume the role of V as you take to the streets and explore Night City, an open world with six
                        distinct regions. Night City is controlled by corporations and unassailed by the laws of both
                        country and state, sees conflict from rampant gang wars and its ruling entities contending for
                        dominance. Developed by CD Projekt Red, Cyberpunk 2077 is one of the biggest upcoming games of
                        the year. Preorder now!
                    </p>
                </div>
            </div>
            <div class="shelf_item">
                <div id="game6">
                    <img class="game_image" src="/images/playstation.png">
                    <h3>Warframe</h3>
                    <p> 
                        Developed by Digital Extremes, Warframe is a free-to-play action role-playing third-person shooter
                        multiplayer online game. Players assume the role of the Tenno, a race of ancient warriors who have
                        awoken from centuries of suspended animation far into Earth's future to find themselves at war in
                        the planetary system with different factions. You'll use their powered Warframes along with a
                        variety of weapons and abilities to complete missions and push back against this threat. Play Warframe
                        for free today. Available on all consoles.
                    </p>
                </div>
            </div>
        </div>
        <div class="shelf">
            <div class="shelf_item">
                <div id="game7">
                    <img class="game_image" src="/images/xbox.png">
                    <h3>Torchlight III</h3>
                    <p> 
                        In Torchlight III, Novastraia is again under threat of invasion and it’s up to you to defend against
                        the Netherim and its allies. Gather your wits and brave the frontier to find fame, glory, and new
                        adventures! Brave the vast wilderness and all of its dangers as you travel the frontiereither alone
                        or with a group of friends! Whether it’s armor, weapons, or even new pets, there’s always more to find
                        as you battle through dungeons and take on dangerous foes, collecting epic gear along the way. Build
                        your hero your way ith four unique classes to choose from and five available Relic subclasses. Play
                        Torchlight III today!
                    </p>
                </div>
            </div>
            <div id="game8">
                <div class="shelf_item">
                    <img class="game_image" src="/images/playstation.png">
                    <h3>Fallout 4</h3>
                    <p> 
                        Set within an open world post-apocalyptic environment that encompasses the city of Boston and the
                        surrounding Massachusetts region known as "The Commonwealth". Players assume the role of the "Sole Survivor"
                        who emerges from a long-term cryogenic stasis, an underground nuclear fallout shelter. After
                        witnessing the murder of your spouse and kidnapping of your son, you'll ventures out into the
                        Commonwealth in search of them. Explore this dilapidated wasteland as you complete quests, 
                        create your own settlement, and explore everything this new land has to offer you. The old world may have
                        ended, but this new one is only just beginning.
                    </p>
                </div>
            </div>
            <div class="shelf_item">
                <div id="game9">
                    <img class="game_image" src="/images/xbox.png">
                    <h3>The Elder Scrolls V: Skyrim</h3>
                    <p> 
                        Epic fantasy reborn. Dragons, long thought lost to the passages of the Elder Scrolls, have returned to Tamriel
                        and the future of the Empire hangs in the balance. As the Dragonborn, the prophesied hero born with the power
                        of The Voice, you are the only one who can stand among them. Complete quests and develop your character by
                        improving your skills. The realm of Skyrim is open to you and yours for the taking. Go forth and conquer!
                    </p>
                </div>
            </div>
        </div>
        </main>
        <footer>
        	<p>&copy; Atomic Gaming Inc. All rights reserved.</p>
        </footer>
    </body>
    <!--<script src = '/js/global.js'></script>
    <script src = '/js/index.js'></script>-->
</html>