#info {
    justify-self: flex-start;
    align-self: center;

    margin-left: 300px;
    margin-right: 300px;
    
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}