h1{
	text-align: center;
	text-decoration: none;
}

h3{
	text-align: center;
}

.game_image {
	justify-self: center;
	width: 150px;
}

#accountInfo{
	border-style: solid;
	padding: 100px;
}

#user_info{
	justify-self: flex-start;
    align-self: center;
    margin-left: 600px;
    margin-right: 600px;
	text-align: center;
}