h1{
	text-decoration: underline;
}

#tiny_text{
		font-size: small;
		color: blue;
}

.game_image {
	justify-self: center;
	width: 200px;
}

#accountInfo{
	border-style: solid;
	padding: 100px;
}

#user_info{
	display: grid;
	justify-self: flex-start;
    align-self: center;
    margin-left: 600px;
    margin-right: 600px;
	text-align: center;
}