#shopping_cart {
  position: center;
  justify-content: center;
  height: 300px;
  padding-left: 300px;
}

#content {
    position: center;
    justify-content: center;
    padding-left: 575px;
}
  
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.game {
  display: grid;
  justify-content: flex-start;
  width: 560px;
}

.game_image {
	justify-self: center;
  width: 140px;
}