/*#promos {
  background-color: lightblue;
}

#games {
  background-color: lightgreen;
}*/

.game {
  display: grid;
  justify-content: flex-start;

  width: 400px;
}

.game_image {
  justify-self: center;
  width: 240px;
}
